<mat-toolbar class="bgHeader">
    <ul>
        <a mat-button routerLink="registerStudent">Register a Student</a>
    </ul>
    <ul>
        <a mat-button routerLink="registerTeacher">Register a Teacher</a>
    </ul>
    <ul>
        <a mat-button routerLink="registerAssignment">Assingment</a>
    </ul>
    <ul>
        <a mat-button routerLink="registerCourse">Register a Course</a>
    </ul>

    <span class="headerSpacer"></span>
    <a mat-button routerLink="signUp">Sign Up</a>
    <a mat-button routerLink="login">Login</a>
    <a mat-button>Logout</a>
</mat-toolbar>